In [1]:
import re

In [2]:
#Ejercicio 1
text = """
Aeromexico 800 - 237 - 6639
Air Canada 888- 247-2262
Air Canada Rouge 888-247-2262
Air Creebec 800-567-6567
Air Inuit 800-361-2965
Air North 800-661-0407
Air Tindi 888-545-6794"""

pattern = '\d+\s*-\s*\d+\s*-\s*\d+'
re.findall(pattern, text)

['800 - 237 - 6639',
 '888- 247-2262',
 '888-247-2262',
 '800-567-6567',
 '800-361-2965',
 '800-661-0407',
 '888-545-6794']

In [3]:
#['KerraPower', 'Bill Gates', 'China', 'Trump']
text = '''TKerraPower, A nuclear-energy company founded by Bill Gates,
        is unlikely to follow through on building a demonstration reactor in China,
        due largely to the Trump administration�s crackdown on the country'''

pattern       = '[A-Z][a-z]+ ?[A-Z][a-z]+|[A-Z][a-z]+' #aquí en la búsqueda que les interesa de REGEX
#hay que ser ultra cuidadosos con los espacios
print(re.findall(pattern, text))

['KerraPower', 'Bill Gates', 'China', 'Trump']

In [4]:
#ej2.
"""
4.03 Activity 2
Use the column DOMAIN (in the unit4.csv file you used for the previous activities) 
to categorize the column based on the first letter of the input

U=Urban
C=City
S=Suburban
T=Town
R=Rural
Replace the blanks with NaNs. Then replace these NaNs with the most frequent category in the column
"""
import pandas as pd
import numpy as np
data=pd.read_csv('unit4.txt')
data=pd.DataFrame(data['DOMAIN'])
data=data.dropna()

domain_categories = {"U" : "Urban", "C" : "City", "S" : "Suburban", "T" : "Town", "R" : "Rural"}
def clean_domain(x):
    if str(x[0]) in list(domain_categories.keys()):
        return domain_categories[x[0]]
    else:
        return np.NaN
data['DOMAIN'] = list(map(clean_domain, data['DOMAIN']))
data['DOMAIN'].value_counts()

Suburban    20737
Rural       18863
City        18683
Town        18521
Urban       11589
Name: DOMAIN, dtype: int64

In [5]:
#Rellenar los nulos con el más común
data['DOMAIN']=data['DOMAIN'].fillna('Suburban')

In [6]:
"""
ej4
Is it better to use use VIF or a correlation matrix threshold for feature selection?
"""
"""
Respuesta
There is not a correct answer, both are equally useful approaches to improve the quality of our data.
 In the case of multicollinearity, why not check both? If two or more columns are directly correlated for
  more than a 0.9 you may want to drop it, same for VIF over 10. Just check both and if one exceeds those
   numbers try to drop it.
   """

'\nRespuesta\nThere is not a correct answer, both are equally useful approaches to improve the quality of our data.\n In the case of multicollinearity, why not check both? If two or more columns are directly correlated for\n  more than a 0.9 you may want to drop it, same for VIF over 10. Just check both and if one exceeds those\n   numbers try to drop it.\n   '

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_csv('unit4.txt')

In [9]:
from scipy.stats import chi2_contingency

In [10]:
#las cross tables te cuentan las combinaciones de categorías de 2 columnas
data_crosstab=pd.crosstab(data['DOMAIN'],data['RFA_2'])
data_crosstab

RFA_2,L1E,L1F,L1G,L2E,L2F,L2G,L3D,L3E,L3F,L3G,L4D,L4E,L4F,L4G
DOMAIN,,,,,,,,,,,,,,
C1,249,1842,926,283,689,328,114,421,230,113,210,219,108,61
C2,413,2415,1002,436,916,383,205,640,277,153,434,318,163,79
C3,300,1620,605,298,558,199,155,410,166,54,319,228,106,38
R1,62,419,185,52,157,72,26,113,52,24,50,37,24,12
R2,782,4041,1532,778,1472,597,397,1060,480,190,742,535,286,114
R3,311,1486,441,280,488,178,165,380,143,53,319,200,93,35
S1,410,3627,1884,411,1231,695,198,751,438,193,368,344,208,108
S2,396,2631,1016,401,995,312,184,673,332,126,383,346,191,68
S3,81,633,198,79,205,53,56,157,68,31,117,89,32,18
T1,212,1534,753,204,542,273,91,369,197,74,181,142,98,42
T2,636,3711,1356,651,1341,549,305,1023,417,169,643,535,275,106
T3,130,669,202,109,226,86,68,201,72,23,148,91,48,19
U1,162,1451,709,207,493,239,63,305,143,76,127,162,79,43
U2,148,1048,422,165,366,142,67,230,105,59,128,117,82,32
U3,140,861,288,121,257,96,69,209,91,30,109,114,67,32
U4,79,624,207,72,214,79,43,133,46,24,73,78,41,22

In [11]:
data

,Unnamed: 0,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,...,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,0,IL,NaN,3712,XXXX,NaN,F,T2,NaN,NaN,...,NaN,74,27,6,14,9702,L4E,31,4.0,7.741935
1,1,CA,NaN,5202,XXXX,NaN,M,S1,6.0,H,...,NaN,32,12,6,13,9702,L2G,3,18.0,15.666667
2,2,NC,NaN,0,XXXX,NaN,M,R2,3.0,U,...,NaN,63,26,6,14,9702,L4E,27,12.0,7.481481
3,3,CA,NaN,2801,XXXX,NaN,F,R2,1.0,U,...,NaN,66,27,6,14,9702,L4E,16,9.0,6.812500
4,4,FL,NaN,2001,XXXX,X,F,S2,3.0,H,...,NaN,113,43,10,25,9702,L2F,37,14.0,6.864865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90564,90564,FL,NaN,4803,XXXX,NaN,F,S2,6.0,H,...,NaN,59,23,5,12,9702,L4D,24,3.0,3.375000
90565,90565,AK,NaN,0,XXXX,NaN,M,C2,NaN,NaN,...,NaN,14,6,5,12,9702,L1G,1,NaN,25.000000
90566,90566,TX,NaN,5001,XXXX,NaN,M,C1,7.0,H,...,NaN,10,4,3,8,9702,L1F,1,NaN,20.000000
90567,90567,MI,NaN,3801,XXXX,X,M,C3,NaN,NaN,...,NaN,33,14,7,17,9702,L3E,7,3.0,8.285714
90568,90568,NC,NaN,1801,C1CM,NaN,F,C1,5.0,U,...,NaN,139,32,6,35,9702,L1G,39,6.0,96.794872

In [12]:
#persona   Nacionalidad  estado_civil
#  1          mex                soltero
#  2          mex                soltero
#  3          USA                Soltero
#  4          CA                 casado

#cross_table
"""
      soltero    casado
mex    2           0
USA    1           0
CA     0          1

"""

'\n      soltero    casado\nmex    2           0\nUSA    1           0\nCA     0          1\n\n'

In [13]:
chi2, pval, dof, expec=chi2_contingency(data_crosstab)

In [14]:
#Si el p-value nos da menor a 0.05, indica que hay muucha similitud/dependencia entre las columnas y
#sin problema podemos borrar una de ellas
pval
#cuando en python marca 1.5e-3 = 1.5x10^-3= .0015
#cuando en python marca 1.5e3 = 1.5x10^3= 1500.

3.738583051650944e-170

In [15]:
expec

array([[ 295.63679251, 1875.14074644,  768.48526467,  297.9961196 ,
         665.19916735,  280.56331384,  144.5743215 ,  463.67331124,
         213.45356533,   91.22731438,  285.1508943 ,  232.98355073,
         124.58557804,   54.33006007],
       [ 399.79606982, 2535.79364882, 1039.23935153,  402.98663921,
         899.56331384,  379.41187651,  195.511002  ,  627.03551186,
         288.65790278,  123.36868304,  385.61576143,  315.06872716,
         168.47978912,   73.47172287],
       [ 258.02513774, 1636.58063421,  670.71664046,  260.08430532,
         580.57085968,  244.86934486,  126.18121344,  404.68362879,
         186.29746699,   79.62114647,  248.87328182,  203.34279864,
         108.7354881 ,   47.41805347],
       [  65.57798694,  415.94266514,  170.46496895,   66.10133155,
         147.55410496,   62.23439639,   32.06939464,  102.85175297,
          47.34814974,   20.23599154,   63.25201091,   51.68028011,
          27.63550281,   12.05146335],
       [ 663.7410881 , 4209.92241467, 1725.34426934,  669.03806863,
        1493.4542328 ,  629.89926804,  324.58719582, 1041.00381252,
         479.22959963,  204.8165805 ,  640.19895241,  523.07682735,
         279.70999966,  121.97769054],
       [ 233.32494655, 1479.91429186,  606.51037978,  235.18699445,
         524.99406062,  221.42852941,  114.10215741,  365.94413585,
         168.46361137,   71.99918546,  225.0491781 ,  183.8772301 ,
          98.32647382,   42.87882525],
       [ 554.52949894, 3517.22412408, 1441.45708371,  558.95491724,
        1247.72210469,  526.25599312,  271.17979931,  869.7176247 ,
         400.37742808,  171.11617436,  534.86097315,  437.01005736,
         233.68667202,  101.90754924],
       [ 411.02342946, 2607.00562262, 1068.42401548,  414.3035987 ,
         924.82549523,  390.06679262,  201.00148202,  644.64437229,
         296.76420079,  126.83321077,  396.44489948,  323.91671286,
         173.21115925,   75.53500843],
       [  92.72778387,  588.14616542,  241.03879266,   93.46779722,
         208.6426527 ,   87.99992081,   45.34637358,  145.4331791 ,
          66.9506522 ,   28.61384951,   89.43883565,   73.07631826,
          39.07681604,   17.04086296],
       [ 240.46962995, 1525.23100245,  625.08243865,  242.38869594,
         541.06999423,  228.20893057,  117.59609924,  377.1497743 ,
         173.62216465,   74.20388492,  231.94044777,  189.50776645,
         101.33734572,   44.19182514],
       [ 597.95896734, 3792.68498637, 1554.34867014,  602.73097417,
        1345.44081545,  567.47114591,  292.41797427,  937.83189845,
         431.73406265,  184.51759755,  576.75004808,  471.23567477,
         251.98847194,  109.88871291],
       [ 106.76198341,  677.16113267,  277.51962259,  107.61399658,
         240.22037944,  101.31856595,   52.2094736 ,  167.44425464,
          77.08352471,   32.94450918,  102.97525822,   84.13630039,
          44.9910287 ,   19.61996991],
       [ 217.3514758 , 1378.59907459,  564.98856244,  219.08604754,
         489.05286618,  206.26948967,  106.29070175,  340.89152987,
         156.93056011,   67.07010736,  209.64226805,  171.28895953,
          91.59502449,   39.94333262],
       [ 158.76507189, 1007.00204767,  412.69767968,  160.0320953 ,
         357.23021054,  150.67020013,   77.64037876,  249.00529454,
         114.63042322,   48.99157173,  153.13385675,  125.11856142,
          66.9058749 ,   29.17673345],
       [ 126.76709694,  804.04792235,  329.52138744,  127.77876076,
         285.23299356,  120.30368921,   61.99251072,  198.82004231,
          91.52747389,   39.11766769,  122.2708133 ,   99.90180218,
          53.42147003,   23.29636962],
       [  88.54304074,  561.60352064,  230.16087247,   89.24965778,
         199.22674872,   84.02854298,   43.29992194,  138.86987657,
          63.92921385,   27.32252554,   85.40252056,   69.77843268,
          37.31330535,   16.27182017]])

In [16]:
data_crosstab=pd.crosstab(data['DOMAIN'],data['TIMELAG'])
data_crosstab

TIMELAG,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,57.0,58.0,59.0,61.0,62.0,89.0,90.0,442.0,1044.0,1088.0
DOMAIN,,,,,,,,,,,,,,,,,,,,,
C1,48,232,357,453,478,513,370,378,346,270,...,0,0,0,0,0,0,0,0,0,0
C2,84,347,494,700,748,722,563,491,443,365,...,0,0,0,0,0,0,0,0,0,1
C3,61,226,337,453,467,459,353,302,242,212,...,0,0,1,0,0,0,0,1,0,0
R1,7,53,74,104,109,113,79,78,70,65,...,0,0,0,0,0,0,0,0,0,0
R2,127,519,834,1174,1198,1190,992,829,702,636,...,0,1,0,0,0,1,0,0,1,0
R3,49,196,297,444,408,418,304,278,262,204,...,0,0,0,0,0,0,1,0,0,0
S1,83,387,664,897,904,948,684,656,603,503,...,1,0,1,0,1,0,0,0,0,0
S2,72,330,577,744,715,697,559,485,465,374,...,0,0,0,0,0,0,0,0,0,0
S3,26,80,124,164,171,180,123,99,85,75,...,0,0,0,0,0,0,0,0,0,0
T1,30,163,289,365,415,433,332,259,274,237,...,0,0,0,0,0,0,0,0,0,0
T2,111,504,789,1122,1034,1056,800,749,647,564,...,1,0,0,1,0,0,0,0,0,0
T3,20,104,150,208,192,166,146,129,95,96,...,0,0,0,0,0,0,0,0,0,0
U1,30,167,253,337,346,388,253,236,222,189,...,0,0,0,0,0,0,0,0,0,0
U2,24,124,202,268,260,279,231,167,192,151,...,0,0,0,0,0,0,0,0,0,0
U3,23,110,174,203,231,214,179,147,143,116,...,0,0,0,0,0,0,0,0,0,0
U4,15,75,127,149,151,147,124,104,82,76,...,0,0,0,0,0,0,0,0,0,0

In [17]:
chi2, pval, dof, expec=chi2_contingency(data_crosstab)

In [18]:
#en este caso, es mayor a 0.05, lo que indica que estas columnas están "muy desconectadas" por lo
#tanto no sería recomendable eliminar alguna de ellas porque aportan información diferente a tu comportamiento general
#pvalue grande es mayot probabilidad de indepenedcia
#pvalue chico es menor probabilidad de indepenedcia
pval

0.2502619412542998

In [19]:
expec

array([[5.32277205e+01, 2.37684772e+02, 3.77325397e+02, ...,
        6.57132352e-02, 6.57132352e-02, 6.57132352e-02],
       [7.26990225e+01, 3.24632549e+02, 5.15355293e+02, ...,
        8.97518796e-02, 8.97518796e-02, 8.97518796e-02],
       [4.62546118e+01, 2.06546828e+02, 3.27893804e+02, ...,
        5.71044591e-02, 5.71044591e-02, 5.71044591e-02],
       ...,
       [2.83340307e+01, 1.26523690e+02, 2.00856795e+02, ...,
        3.49802848e-02, 3.49802848e-02, 3.49802848e-02],
       [2.25522042e+01, 1.00705336e+02, 1.59870070e+02, ...,
        2.78422274e-02, 2.78422274e-02, 2.78422274e-02],
       [1.54455897e+01, 6.89712322e+01, 1.09492070e+02, ...,
        1.90686293e-02, 1.90686293e-02, 1.90686293e-02]])

In [20]:
#de las prubas previas que hicimos, tentativamente, podríamos borrar DOMAIN o STATE

#esta mteolodogía que vimos es SÓLO para las categóricas

In [21]:
#Ahora vamosa a transformar "rápidamente" lo numérico
data = pd.read_csv('unit4.txt')
data_c=data[['INCOME', 'HV1', 'IC1', 'CARDPROM', 'NGIFTALL', 'TIMELAG','DOMAIN', 'AVGGIFT']]

In [22]:
numerical=data_c.select_dtypes(np.number)#.copy()
categorical=data_c.select_dtypes(np.object)

for i in (numerical.columns):
  numerical[i]=numerical[i].fillna(np.mean(numerical[i]))
#recordando que nuesro target es el AVGGIFT
X_num=numerical.drop(['AVGGIFT'],axis=1)#.copy()

from sklearn.preprocessing import StandardScaler
transfromer=StandardScaler().fit(X_num)
x_stan=transfromer.transform(X_num)

C:\Users\monik\AppData\Local\Temp\ipykernel_9940\2989969905.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  categorical=data_c.select_dtypes(np.object)

In [23]:
#Ahora tratando lo cateógico

vals_domain=pd.DataFrame(data['DOMAIN'].value_counts())
vals_domain=vals_domain.reset_index()
vals_domain.columns=['dom','counts']

In [24]:
vals_domain

   dom  counts
0   R2   13006
1   T2   11717
2   S1   10866
3   S2    8054
4   C2    7834
5   C1    5793
6   C3    5056
7   T1    4712
8   R3    4572
9   U1    4259
10  U2    3111
11  U3    2484
12  T3    2092
13  S3    1817
14  U4    1735
15  R1    1285

In [25]:
#me interesa datos que tengan como cateorgía mayor a 5000 registros
group_vals_domain=vals_domain[vals_domain['counts']<5000]
group_vals_domain

   dom  counts
7   T1    4712
8   R3    4572
9   U1    4259
10  U2    3111
11  U3    2484
12  T3    2092
13  S3    1817
14  U4    1735
15  R1    1285

In [26]:
group_vals_domain=list(group_vals_domain['dom'])
group_vals_domain

['T1', 'R3', 'U1', 'U2', 'U3', 'T3', 'S3', 'U4', 'R1']

In [27]:
def clean_vals_domain(x):
  if x in group_vals_domain:
    return 'other'
  else: return x
data['DOMAIN']=list(map(clean_vals_domain,data['DOMAIN']))

In [28]:
data['DOMAIN'].value_counts()

other    26067
R2       13006
T2       11717
S1       10866
S2        8054
C2        7834
C1        5793
C3        5056
Name: DOMAIN, dtype: int64

In [29]:
data['DOMAIN'].isnull().sum()

2176

In [30]:
data['DOMAIN'].fillna('R2',inplace=True)

In [31]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(drop='first').fit(data[['DOMAIN']])
encoder=encoder.transform(data[['DOMAIN']]).toarray()
encoder

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [32]:
encoded_df=pd.DataFrame(encoder)
scaled_df=pd.DataFrame(x_stan)
X=pd.concat([x_stan,encoded_df],axis=1)
y=data_c['AVGGIFT']

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.4,random_state=100)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
model_l=LinearRegression()
model_l=model_l.fit(X_train,y_train)

predictions=model_l.predict(X_test)

In [ ]:
predictions=model_l.predict(X_test)
np.abs((y_test-predictions)/y_test).sum()

In [ ]:
#Viendo la R2
metrics.r2_score(y_test,predictions)
#en este caso, así como lo tenemos hasta ahora, definitivamente un modelo lineal difícilmente
#se podría ajustar mucho mejor con otro tratamiento de nulos, trasnf etc...

In [ ]:
#Un modelo alternativo que no es lineal, ni siquiera responde a alguna ecuación matemática particular

#cuando ya tenemos un "molde" (en el caso de la regresión lineal, el model es el y=mx+b) se le llama
#método paramétrico (porque del molde sólo falta encontrar los parámetros e.g. m, b, m1,m2)

#hay otros modelos que se llaman no paramétrico porque no tienen un molde pre-definido

In [ ]:
#KNN (K Nearest Neighbors)
#este es un modelo no-paramétric que puede servir tanto para hacer predicciones/regresiones y para clasificar

#consideraciones
#procurar elegir un número de vecinos que no sea diviseble entre el número de grupos
#normalmente entre 5 y 10 vecinos es más que suficiente

#una de las desventajdas de este modelo es que puede llegar a tardar muchísimo
#otra "desventaja" es que no obtiene una ecuación para la predección que te interesa,
#Siempre debe posicionar al punto nuevo dentro del espacio de puntos y calcular algunas distancias, y también
#conlleva un costo computacional encontar a lo que son los más cercanos

In [ ]:
from sklearn.neighbors import KNeighborsRegressor #<<--- el Regressor es para problemas de regresión y está
#el KNeighborsClassifer para los problemas de clasificación SUPERVISADA donde conocemos el target
model_knn=KNeighborsRegressor(n_neighbors=15,n_jobs=4) #n_neighbors es el hiperpa´rametro del modelo
#el n_job es paralelizar un poco el modelo apra que sea un poco más rápido; esto lo hace
#usando n_job procesadores de tu compu y no es un hiperparámetro
model_knn.fit(X_train,y_train)

In [ ]:
predictions=model_knn.predict(X_test)

In [ ]:
1-5.0/6.8

In [ ]:
model.score(X_test,y_test)

In [ ]:
#Una alternativa a R2, es calcular el error_relativo o absoluto
#El relativo= abs(VR-VP)/VR
#El absoluto VR-VP

np.abs((y_test-predictions)/y_test).sum()

In [ ]:
scores_knn=[]
for i in range (2,10): #(2,10)es el número de vecino par que pongamos a prueba el error del modelo
  model=KNeighborsRegressor(n_neighbors=i)
  model.fit(X_train,y_train)
  scores_knn.append(model.score(X_test,y_test))

In [ ]:
plt.figure(figsize=(10,6))
plt.plot(range(2,10),scores_knn,color='blue', linestyle='dashed',
         marker='o',markersize=10, markerfacecolor='red')

plt.title('Accuracy vs. K value')
plt.xlabel('K')
plt.ylabel('Accuracy')

In [ ]:
1,1,2,3,          4,7,11,18...